<p>users works!</p>
<h2>{{tableTitle}}</h2>
<table class="table table-stripped table-sm">
  <thead>
  <tr>
    <th>
      Username
    </th>
    <th>email</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let item of users">
    <td>{{item.name}}</td>
    <td>{{item.email}}</td>
  </tr>
  </tbody>
</table>
